################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.ipch
*.opendb
*.db
/.vs
/MainBook/MainBook/x64/Debug
/MainBook/x64/Debug/MainBook.pdb
/MainBook/x64/Debug/MainBook.ilk
/MainBook/x64/Debug/MainBook.exe
